header.header   
    .header__column
        .header__column--icon
            a(href=routes.home)
                i.fab.fa-youtube
    .header__column
        .header__column--text
            a(href=routes.join)
                | join
            a(href=routes.login)
                | login

