.socialLogin
    .socialLogin__github
        button
            a(href=routes.githubLogin)
                i.fab.fa-github.fa-2x  
                span &nbsp Continue with github
    .socialLogin__kakao
        button
            a(href=routes.kakaoLogin)
                img(src='https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_small.png') 
                span Continue with Kakao Talk
