.footer{
    margin-top: 50px;
    height: auto;
    padding: 20px;
    border-top: 1px solid rgba(0,0,0,0.1);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .footer__column{
        &:first-child{
            margin-bottom: 10px;
            i{
                font-size: 35px;
                color: $red;
            }
        }
        &:last-child{
            text-transform: uppercase;
        }
    }
}