extends layout/main

block content
    .form-container
        form(action=`/users${routes.editProfile}`, method='post')
            input(type='file', name='avatarUrl', placeholoder='Avatar')
            input(type='text', name='name', placeholoder='Name')
            input(type='submit', value='Update!')