extends layout/main

block content
    .search-container
        .search__column
            .search__text
                | Results for #{searchingBy}
        .search__column
            .search__number
                | number