extends layout/main

block content
    .avatar-container
        .avatar__picture
        .avatar__name
        .avatar__btn
            a(href=`/users${routes.editProfile}`)
                button Edit Profile
            a(href=`/users${routes.changePassword}`)
                button Change Password

